---
import type { Playlist, GenericTrack } from '../models/Playlist';
import type { SpotifyPlaylist } from '../models/SpotifyPlaylist';
interface Props {
  playlist: Playlist | SpotifyPlaylist;
}

const { playlist } = Astro.props;
---

<div class="playlist-display">
  <!-- <h2>${playlist.name}</h2> -->
  <img src="${playlist.image?.url || '/default-playlist.png'}" alt="${playlist.name}" />
  <!-- <ul>
    ${playlist.tracks.map((track: GenericTrack) => `
      <li>
        ${track.image ? `<img src="${track.image}" alt="${track.name}" />` : ''}
        <span>${track.name} - ${track.artists.map(artist => artist.name).join(', ')}</span>
      </li>
    `).join('')}  
  </ul> -->
</div>